@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  transition: color 0.5s ease-out, background 0.5s ease-out;
  /* scroll-snap-type: y mandatory; */
}

@keyframes spinner {
  0% {
    content: "⠋";
  }
  11% {
    content: "⠙";
  }
  22% {
    content: "⠹";
  }
  33% {
    content: "⠸";
  }
  44% {
    content: "⠼";
  }
  55% {
    content: "⠴";
  }
  66% {
    content: "⠦";
  }
  77% {
    content: "⠧";
  }
  88% {
    content: "⠇";
  }
  100% {
    content: "⠏";
  }
} 

.load-spinner::after {
  animation: spinner .5s linear infinite;
  color: inherit;
  content: '';
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}